<div style="background-color:#3D3D3D;font-size:16px;text-align:left;font-family:helvetica, sans-serif;line-height:1;margin:1px;margin:1px; padding-left:5%;padding-top:5%;padding-right:5%;padding-bottom:5%;">
<div id="links">
    <a href="" title="">
        <img src="" alt="">
    </a>
    <a href="" title="">
        <img src="" alt="">
    </a>
    <a href="" title="">
        <img src="" alt="">
    </a>
    <a href="" title="">
        <img src="" alt="">
    </a>
    <a href="" title="">
        <img src="" alt="">
    </a>
</div>



<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>

</div>
