<% @title="Events| Venue Map" %>
<div class="text-center text-right" style="background-color:#3D3D3D;font-size:16px;text-align:left;font-family:helvetica, sans-serif;line-height:1;margin:1px;margin:1px; padding-left:5%;padding-top:5%;padding-right:5%;">
<address>
<div class="media">
<a class="pull-left" href="#">
<%= image_tag("123.png",:size => "160x160",:alt => "Domotex Fair")%>
</a>
<div class="media-body">
<p class="media-heading"><strong>We are participating at Domotex Hannover</strong></p>
<p>From 11th-14th January.</p>
<p>We cordially invite you to <a href="http://www.domotex.de/exhibitor/rupesh-kumar-sons/D960003?source=akl">Visit us at our</a></p>
<p>Stand No. C 32/3 in Hall 15.</p>
<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#myModal"  >Get Directions</button>
</div>
<br>



<!-- Modal -->
<div >
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color:#3D3D3D;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @title %></h4>
      </div>
      <div class="modal-body">
      <object data=http://www.domotex.de/dynmaps_domotex14/map?lang=EN&amp;exhibitor=D960003 width="560" height="400" align="left|right|middle|top|bottom"> <embed src=http://www.domotex.de/dynmaps_domotex14/map?lang=EN&amp;exhibitor=D960003 width="40%" height="40%"></div> </embed> Error: Embedded data could not be displayed. </object>
      </div>
      <div class="modal-footer">
       <p>Search for Rupesh Kumar and Sons.
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
</div>
</address>
</div>



