<% @title="About Us " %>
<div style="background-color:#3D3D3D;font-size:16px;text-align:left;font-family:helvetica, sans-serif;line-height:1;margin:1px;margin:1px; padding-left:5%;padding-top:5%;padding-right:5%;padding-bottom:5%;">
<address>We at Rupesh Kumar & Sons are pleased to introduce ourselves as one of the leading manufacturer and exporter of hand knotted carpets in India. Our founder Mr. Rupesh Kumar Baranwal has an experience of more than 20 years in this industry.
And with his guidance today we stand as an icon in the industry with a broad spectrum of products to please our customers.We have the capacity to cater to international markets with the help of 1200-1500 looms and a production of more than 50000 square feet per month.
We have an in-house facility of dyeing, washing and finishing thus ensuring full control over the finished product. Our team of designers is constantly working towards creation of new designs to keep up with today’s market. We firmly believe in customer satisfaction by providing them with a reasonable price, quality product and timely delivery.</address>
</div>
