<% @title="Contact" %>
<div style="background-color:#3D3D3D;font-size:16px;text-align:left;font-family:helvetica, sans-serif;line-height:1;margin:1px;margin:1px; padding-left:5%;padding-top:5%;padding-right:5%;padding-bottom:5%;">
<address>
<strong>Rupesh Kumar & Sons,</strong><br>
Opposite Carpet City, Shardapuri, Bhadohi - 221401<br>
(U.P.) INDIA<br>
<abbr title="Phone">P:</abbr> (+91) 8376001407
<abbr title="Phone">P:</abbr> (+91) 9873226609
</address>
<address>
<strong>Rupesh Kumar & Sons,</strong><br>
<a href="mailto:#">info@rupeshkumar.in</a><br>
<strong>Partner: Mr. Rupesh Baranwal:</strong><br>
<abbr title="Phone">P:</abbr> (+91) 9839806911, (+91) 9415203859
<a href="mailto:#">rupesh_baranwal@yahoo.com</a><br>
<strong>Partner: Mr. Namit Baranwal:</strong><br>
<abbr title="Phone">P:</abbr> (+91) 9792801999<br>
<a href="mailto:#">namit_baranwal@yahoo.co.in</a>
</address>
</div>
